{% extends 'base.html.twig' %}

{% block title %}Rdv index{% endblock %}

{% block body %}
    {% if dateConDeb|default(null) %}{% endif %}
    {% if dateConFin|default(null) %}{% endif %}
    {% if typeCon|default(null) %}{% endif %}
    {% if numDosier|default(null) %}{% endif %}
    {% if clientNom|default(null) %}{% endif %}
    {% if Adadresse|default(null) %}{% endif %}
    {% if aDcommune|default(null) %}{% endif %}
    {% if aDcommuneExaF|default(null) %}{% endif %}
    {% if aDcadastre|default(null) %}{% endif %}
    {% if prorioNomF|default(null) %}{% endif %}
    {% if prorioCommuneF|default(null) %}{% endif %}
    {% if trie|default(null) %}{% endif %}
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center text-body-tertiary"><strong>Rendez-vous index</strong></h1>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                {% if trie|default and trie == 1 %}
                    <div class="d-flex justify-content-star">
                            <a href="{{ path('csv.rdv', {dateConDeb: dateConDeb, dateConFin: dateConFin, typeCon: typeCon,numDosier: numDosier, clientNom: clientNom , Adadresse: Adadresse , aDcommune: aDcommune , aDcadastre: aDcadastre, aDcommuneExaF : aDcommuneExaF, prorioNomF: prorioNomF , prorioCommuneF: prorioCommuneF }) }}" class="btn btn-info">
                                    Export Xlsx
                            </a>
                    </div>
                {% endif %}
                <div class="d-flex justify-content-end">
                    <a href="{{ path('rdv.ajout') }}" class="btn btn-primary">
                            Ajouter un Rendez-vous
                    </a>
                </div>
            </div>
            {% for message in app.flashes('success') %}
                <div class="alert alert-success mt-4">
                    {{ message }}
                </div>
            {% endfor %}
            {% for message in app.flashes('alert') %}
                <div class="alert alert-warning mt-4">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="container mt-4">
            <table style="width: 100;" class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <form class="form-inline mt-1" method="POST" action="{{ path('rdv.findallcontain') }}">
                        <th class="text-left align-top text-primary" scope="col" {% if pagination.isSorted('r.date_controle') %} class="text-left align-top sorted text-primary"{% endif %}>{{ knp_pagination_sortable(pagination, 'Date de contrôle ', 'r.date_controle') }}
                        </br>
                        <div class="form-group mr-1 mb-2">
                            <input type="date" class="input-group input-group-lg" name="dateConDeb" 
                                value="{% if dateConDeb|default and dateConDeb != "**" %}{{ dateConDeb }}{% endif %}">
                        </div>
                        <div class="form-group mr-1 mb-2">
                            <input type="date" class="input-group input-group-lg" name="dateConFin" 
                                value="{% if dateConFin|default and dateConFin != "**" %}{{ dateConFin }}{% endif %}">
                        </div>
                        </th>
                        <th class="text-left align-top" scope="col" {% if pagination.isSorted('r.type_controle') %} class="text-left align-top sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Type du contrôle', 'r.type_controle') }}
                        </br>
                            <div class="form-group mr-1 mb-2">
                                <input type="text" class="input-group input-group-lg" name="typeCon" 
                                    value="{% if typeCon|default and typeCon != "**" %}{{ typeCon }}{% endif %}">
                            </div>
                        </th>
                        <th class="text-left align-top" scope="col" {% if pagination.isSorted('r.num_dossier') %} class="text-left align-top sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'N°Dossier ', 'r.num_dossier') }}
                        </br>
                            <div class="form-group mr-1 mb-2">
                                <input type="text" class="input-group input-group-lg" name="numDosier"
                                    value="{% if numDosier|default and numDosier != "**" %}{{ numDosier }}{% endif %}">
                            </div>
                        </th>
                        <th  class="text-left align-top" scope="col" {% if pagination.isSorted('c.nom') %} class="text-left align-top sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Client', 'c.nom') }}
                        </br>
                            <div class="form-group mr-1 mb-2">
                                <input type="text" class="input-group input-group-lg" name="clientNom" 
                                    value="{% if clientNom|default and clientNom != "**" %}{{ clientNom }}{% endif %}">
                            </div>
                        </th>
                        <th  class="text-left align-top" scope="col" {% if pagination.isSorted('a.adresseVisite') %} class="text-left align-top sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Adresse', 'a.adresseVisite') }}
                        </br>
                            <div class="form-group mr-1 mb-2">
                                <input type="text" class="input-group input-group-lg" name="Adadresse" 
                                    value="{% if Adadresse|default and Adadresse != "**" %}{{ Adadresse }}{% endif %}">
                            </div>
                        </th>
                        <th class="text-left align-top" scope="col" {% if pagination.isSorted('a.commune') %} class="text-left align-top sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Commune', 'a.commune') }}
                        </br>
                            <div class="form-group mr-1 mb-2">
                                <input type="text" class="input-group input-group-lg" name="aDcommune"
                                    value="{% if aDcommune|default and aDcommune != "**" %}{{ aDcommune }}{% endif %}">
                            </div>
                            <div class="form-group mr-1 mb-2">
                                <input type="text" class="input-group input-group-lg" name="aDcommuneExaF" placeholder="nom exacte"
                                    value="{% if aDcommuneExaF|default and aDcommuneExaF != "**" %}{{ aDcommuneExaF }}{% endif %}">
                            </div>
                        </th>
                        <th class="text-left align-top" scope="col" {% if pagination.isSorted('a.section_cadastrale') %} class="text-left align-top sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Cadastre S', 'a.section_cadastrale') }}
                        </br>
                            <div class="form-group mr-1 mb-2">
                                <input type="text" class="input-group input-group-lg" name="aDcadastre"
                                    value="{% if aDcadastre|default and aDcadastre != "**" %}{{ aDcadastre }}{% endif %}">
                            </div>
                        </th>
                        <th class="text-left align-top" scope="col" {% if pagination.isSorted('r.nom_propriaitaire') %} class="text-left align-top sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom propriétaire', 'r.nom_propriaitaire') }}
                        </br>
                            <div class="form-group mr-1 mb-2">
                                <input type="text" class="input-group input-group-lg" name="prorioNomF"
                                    value="{% if prorioNomF|default and prorioNomF != "**" %}{{ prorioNomF }}{% endif %}">
                            </div>
                        </th>
                        <th class="text-left align-top" scope="col" {% if pagination.isSorted('r.commune_facturation') %} class="text-left align-top sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Commune propriétaire', 'r.commune_facturation') }}
                        </br>
                            <div class="form-group mr-1 mb-2">
                                <input type="text" class="input-group input-group-lg" name="prorioCommuneF"
                                    value="{% if prorioCommuneF|default and prorioCommuneF != "**" %}{{ prorioCommuneF }}{% endif %}">
                            </div>
                        </th>
                        <th class="text-left align-top text-body" scope="col" {% if pagination.isSorted('a.prochaineVisite') %} class="text-left align-top sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Prochaine visite', 'r.commune_facturation') }} 
                        </th>
                        <th class="text-left align-top" scope="col">
                            </br>
                            <div class="form-group mr-1 mb-2">
                                <button type="submit" class="btn btn-info mb-2 btn-sm">filtrer</button>
                            </div>
                        </th>
                    </tr>
                    </form>
                </thead>
                <tbody>
                {% for rendezVous in pagination %}
                    <tr>
                        <td><a href="{{ path('rdv.showone', { 'id': rendezVous.id }) }}" class="link-white">{{ rendezVous.dateControle|date('d/m/Y') }}</a></td>
                        <td><a href="{{ path('rdv.showone', { 'id': rendezVous.id }) }}" class="link-white">{{ rendezVous.typeControle }}</a></td>
                        <td><a href="{{ path('rdv.showone', { 'id': rendezVous.id }) }}" class="link-white">{{ rendezVous.numDossier }}</a></td>
                        <td><a href="{{(rendezVous.client == null ) ? '#' : path('client.showone', { 'id': rendezVous.client.id}) }}" class="link-white">{{ (rendezVous.client == null ) ? '' : rendezVous.client.nom ~ ' ' ~ rendezVous.client.prenom }}</a></td>
                        <td><a href="{{ (rendezVous.adresse == null ) ? '#' : path('adresse.showone', { 'id': rendezVous.adresse.id }) }}" class="link-white">{{ (rendezVous.adresse == null ) ? '' : rendezVous.Adresse.numero ~ ' ' ~ rendezVous.Adresse.adresseVisite }}</a></td>
                        <td class="text-body">{{ (rendezVous.adresse == null ) ? '' : rendezVous.Adresse.Commune ~ ' ' ~ rendezVous.Adresse.cp}}</td>
                        <td class="text-body">{{ (rendezVous.adresse == null ) ? '' : rendezVous.Adresse.sectionCadastrale }}</td>
                        <td class="text-body">{{ rendezVous.nomPropriaitaire ~ ' ' ~  rendezVous.prenomPropriaitaire}}</td>
                        <td class="text-body">{{ rendezVous.communeFacturation ~ ' ' ~  rendezVous.cpFacturation }}</a></td>
                        <td class="text-body">{{ (rendezVous.adresse == null ) ? '' :  (rendezVous.Adresse.prochaineVisite == null )? '' : rendezVous.Adresse.prochaineVisite|date('d/m/Y') }}</a></td>
                        <td></td>
                        
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="12">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {# display navigation #}
            <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
