{% extends "base.html.twig" %}
{% block body %}
    <div class="container mt-4">
    {% if rendez_vous.id == null %}
        <h1>Creation de rendez-vous</h1>
    {% else %}
        <h1>Modification rendez-vous n° dossier : <strong>{{ rendez_vous.numDossier}}</strong></h1>
    {% endif %}
    <hr class="my-4">
        
            <div class="row">
            {{ form_start(formRdv) }}
            {{ form_end(formRdv) }}
            </div>
                {% if rendez_vous.id != null %}
                    <hr class="my-4">
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{{ path('rdv.edit', { 'id': rendez_vous.id }) }}" class="btn btn-warning me-md-2">
                            Annuler
                        </a>
                        <a href="" 
                            class="btn btn-danger" 
                            onclick="return confirm('Etes-vous sûr de vouloir supprimer le rendez-vous n° {{ rendez_vous.numDossier }} ?')">
                            Supprimer
                        </a>
                    </div>
                {% endif %}
            </div>
    </div>
{% endblock %}