{% extends 'base.html.twig' %}

{% block title %} {{rendezVous.dateControle|date('d/m/Y')}} {% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('alert') %}
        <div class="alert alert-warning mt-4">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container mt-4">
        <h1>Rendez-vous n° dossier : {{rendezVous.numDossier}} </h1>
        <h3>Date du contrôle : {{rendezVous.dateControle|date('d/m/Y')}}</h3>
        <hr class="my-4">
        <p>{{(rendezVous.typeInstallation is same as(null)) ? ' ' : 'Type installation : ' ~ rendezVous.typeInstallation}}</p>
        <br/>
        {% if rendezVous.client != null %}
        <strong><a href="{{ path('client.showone', { 'id': rendezVous.client.id}) }}" class="link-white"><p>Client RDV :</p></a></strong>
        <div class="jumbotron">
             <table class="table">
                <tbody>
                    <tr>
                        <th><strong><a href="{{ path('client.showone', { 'id': rendezVous.client.id}) }}" class="link-white">Client </a></strong></th>
                        <td><a href="{{ path('client.showone', { 'id': rendezVous.client.id}) }}" class="link-white">{{ rendezVous.Client.nom ~ ' ' ~ rendezVous.Client.prenom}}</a></td>
                    </tr>
                    <tr>
                        <th class="text-body">Mail</th>
                        <td class="text-body">{{ rendezVous.Client.mail }}</td>
                    </tr>
                    <tr>
                        <th class="text-body">Tel</th>
                        <td class="text-body">{{ rendezVous.Client.tel }}</td>
                    </tr>
                    <tr>
                        <th class="text-body">Tel</th>
                        <td class="text-body">{{ rendezVous.Client.tel }}</td>
                    </tr>
                    
                     <tr>
                        <th class="text-body">Dernière visite</th>
                        <td class="text-body">{{ (rendezVous.Client.dernierRdv == null )? '' : rendezVous.Client.dernierRdv.dateControle|date('d/m/Y')}}</td>
                    </tr>
                    {% if rendezVous.Client.dernierRdv != null and rendezVous.Client.dernierRdv.adresse != null %}
                        <tr>
                            <th class="text-body">Dernière adresse visitée</th>
                            <td class="text-body">{{ rendezVous.Client.dernierRdv.Adresse.adresseVisite ~ ' ' ~ rendezVous.Client.dernierRdv.Adresse.commune }}</td>
                        </tr>
                    {% endif %}
                </tbody>
            </table>
            {% endif %}
            <br/>
            {% if rendezVous.adresse != null %}
                <strong><a href="{{ path('adresse.showone', { 'id': rendezVous.adresse.id }) }}" class="link-white"><p>Adresse RDV:</p></a></strong>
                <table class="table">
                    <tbody>
                        <tr>
                            <th class="text-body">Prochaine visite</th>
                            <td class="text-body">{{(rendezVous.Adresse.prochaineVisite == null ) ? 'Non renseigné ' :  rendezVous.Adresse.prochaineVisite|date('d/m/Y') }}</td>
                        </tr>
                        <tr>
                            <th ><strong><a href="{{ path('adresse.showone', { 'id': rendezVous.adresse.id }) }}" class="link-white">Adresse visite</a></strong></th>
                            <td><a href="{{ path('adresse.showone', { 'id': rendezVous.adresse.id }) }}" class="link-white">{{ rendezVous.Adresse.numero ~ ' ' ~ rendezVous.Adresse.adresseVisite ~ ' , ' ~ rendezVous.Adresse.cp ~ ' ' ~ rendezVous.Adresse.commune }}</a></td>
                        </tr>
                        <tr>
                            <th class="text-body">Cadastre</th>
                            <td class="text-body">{{ rendezVous.Adresse.sectionCadastrale }}</td>
                        </tr>
                        <tr>
                            <th class="text-body">Ancien nom de la rue</th>
                            <td class="text-body">{{ rendezVous.Adresse.ancienneAdresse }}</td>
                        </tr>
                        {% if rendezVous.adresse.dernierRdv != null %}
                            <tr>
                                <th class="text-body">Derniere visite</th>
                                <td class="text-body">{{ rendezVous.Adresse.dernierRdv.dateControle|date('d/m/Y')}}</td>
                            </tr>
                            {% if rendezVous.adresse.dernierRdv.Client != null %}
                                <tr>
                                    <th class="text-body">Client a la derniere visite</th>
                                    <td class="text-body">{{ rendezVous.Adresse.dernierRdv.Client.nom ~ ' ' ~ rendezVous.Adresse.dernierRdv.Client.prenom }}</td>
                                </tr>
                            {% endif %}
                        {% endif %}
                    </tbody>
                </table>
            {% endif %}
            <br/>
            <p class="text-primary"><strong>Rendez-vous :</strong></p>
            <table class="table">
                <tbody>
                    <tr>
                        <th class="text-body">Date du contrôle</th>
                        <td class="text-body"> {{(rendezVous.dateControle == null)? "" : rendezVous.dateControle|date('d/m/Y')}}</td>
                    </tr>
                    <tr>
                        <th class="text-body">Facturation</th>
                        <td class="text-body">{{ rendezVous.facturation }}</td>
                    </tr>
                    <tr>
                        <th class="text-body">Date facturation</th>
                        <td class="text-body">{{ rendezVous.dateFacturation }}</td>
                    </tr>
                    <tr>
                        <th class="text-body">Commentaire</th>
                        <td class="text-body">{{ rendezVous.commentaire }}</td>
                    </tr>
                    <tr>
                        <th class="text-body">Type contrôle</th>
                        <td class="text-body">{{ rendezVous.typeControle }}</td>
                    </tr>
                    <tr>
                        <th class="text-body">Type traitement</th>
                        <td class="text-body">{{ rendezVous.typeTraitement }}</td>
                    </tr>
                    <tr>
                        <th class="text-body">Type installation</th>
                        <td class="text-body">{{ rendezVous.typeInstallation }}</td>
                    </tr>
                    <tr>
                        <th class="text-body">Rejet / infiltration</th>
                        <td class="text-body">{{ rendezVous.rejetInf }}</td>
                    </tr>
                    <tr>
                        <th class="text-body">Conformite</th>
                        <td class="text-body">{{ rendezVous.conformite }}</td>
                    </tr>
                    <tr>
                        <th class="text-body">Impact</th>
                        <td class="text-body">{{ rendezVous.impact }}</td>
                    </tr>
                    <tr>
                        <th class="text-body">Rpqs</th>
                        <td class="text-body">{{ rendezVous.typeRpqs }}</td>
                    </tr>
                    <tr>
                        <th class="text-body">Adresse de facturation</th>
                        <td class="text-body">{{ rendezVous.adresseFacturation }}</td>
                    </tr>
                    <tr>
                        <th class="text-body">Commune de facturation</th>
                        <td class="text-body">{{ rendezVous.communeFacturation ~ ' ' ~  rendezVous.cpFacturation }}</td>
                    </tr>
                    <tr>
                        <th class="text-body">Propriaitaire</th>
                        <td class="text-body">{{ rendezVous.nomPropriaitaire ~ ' ' ~  rendezVous.prenomPropriaitaire}}</td>
                    </tr>
                </tbody>
            </table>
            <hr class="my-4">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{{ path('rdv.edit', { 'id': rendezVous.id }) }}" class="btn btn-warning me-md-2">
                    Modifier
                </a>
                <a href="{{ path('rdv.suppr', { 'id': rendezVous.id }) }}" 
                    class="btn btn-danger" 
                    onclick="return confirm('Etes-vous sûr de vouloir supprimer le rendez_vous n° {{ rendezVous.numDossier }} ?')">
                    Supprimer
                </a>
            </div>
        </div>
    </div>
{% endblock %}