{% extends 'base.html.twig' %}

{% block title %}Client index{% endblock %}

{% block body %}
    {% if dRdvDateDebF|default(null) %}{% endif %}
    {% if dRdvDateFinF|default(null) %}{% endif %}
    {% if nomF|default(null) %}{% endif %}
    {% if dernierRdvAdresseF|default(null) %}{% endif %}
    {% if dernierRdvCommuneF|default(null) %}{% endif %}
    {% if nbRdvF|default(null) %}{% endif %}
    {% if trie|default(null) %}{% endif %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('alert') %}
        <div class="alert alert-warning mt-4">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container-fluid">
        <div class="row">
            <h1 class="text-center">Client index</h1>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                {% if trie|default and trie == 1 %}
                    <div class="d-flex justify-content-star">
                            <a href="{{ path('csv.client', {dRdvDateDebF: dRdvDateDebF, dRdvDateFinF: dRdvDateFinF, nomF: nomF, adresseFacF: adresseFacF, communeFacF: communeFacF, dernierRdvAdresseF: dernierRdvAdresseF, dernierRdvCommuneF: dernierRdvCommuneF, nbRdvF: nbRdvF }) }}" class="btn btn-info">
                                    Export Xlsx
                            </a>
                    </div>
                {% endif %}
                <div class="d-flex justify-content-end">
                    <a href="{{ path('client.ajout') }}" class="btn btn-primary">
                            Ajouter un client
                    </a>
                </div>
            </div>
            <table style="width: 100;" class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <form class="form-inline mt-1" method="POST" action="{{ path('client.findallcontain') }}">
                        <th class="text-left align-top" scope="col" {% if pagination.isSorted('d.date_controle') %} class="text-left align-top sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Derniere visite client', 'd.date_controle') }}
                            </br>
                            <div class="form-group mr-1 mb-2">
                                <input type="date" class="input-group input-group-lg" name="dRdvDateDebF" 
                                    value="{% if dRdvDateDebF|default and dRdvDateDebF != "**" %}{{ dRdvDateDebF }}{% endif %}">
                            </div>
                            <div class="form-group mr-1 mb-2">
                                <input type="date" class="input-group input-group-lg" name="dRdvDateFinF" 
                                    value="{% if dRdvDateFinF|default and dRdvDateFinF != "**" %}{{ dRdvDateFinF }}{% endif %}">
                            </div>
                        </th>
                        <th class="text-left align-top" scope="col" {% if pagination.isSorted('c.nom') %} class="text-left align-top sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Nom', 'c.nom') }} 
                            </br>
                            <div class="form-group mr-1 mb-2">
                                <input type="text" class="input-group input-group-lg" name="nomF" 
                                    value="{% if nomF|default and nomF != "**" %}{{ nomF }}{% endif %}">
                            </div>
                        </th>
                        </th>
                        <th  class="text-left align-top" scope="col" {% if pagination.isSorted('a.adresseVisite') %} class="text-left align-top sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Dernière adresse Rdv client ', 'a.adresseVisite') }}
                            </br>
                            <div class="form-group mr-1 mb-2">
                                <input type="text" class="input-group input-group-lg" name="dernierRdvAdresseF" 
                                    value="{% if dernierRdvAdresseF|default and dernierRdvAdresseF != "**" %}{{ dernierRdvAdresseF }}{% endif %}">
                            </div>
                        </th>
                         <th  class="text-left align-top" scope="col" {% if pagination.isSorted('a.commune') %} class="text-left align-top sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Dernière commune Rdv client ', 'a.commune') }}
                            </br>
                            <div class="form-group mr-1 mb-2">
                                <input type="text" class="input-group input-group-lg" name="dernierRdvCommuneF" 
                                    value="{% if dernierRdvCommuneF|default and dernierRdvCommuneF != "**" %}{{ dernierRdvCommuneF }}{% endif %}">
                            </div>
                        </th>
                        <th  class="text-left align-top text-body" scope="col">Nombre de rendez-vous 
                        </br>
                            <div class="form-group mr-1 mb-2">
                                <input type="text" class="input-group input-group-lg" name="nbRdvF" 
                                    value="{% if nbRdvF|default and nbRdvF != "**" %}{{ nbRdvF }}{% endif %}">
                            </div>
                        </th>
                        <th class="text-left align-top" scope="col">
                            </br>
                            <div class="form-group mr-1 mb-2">
                                <button type="submit" class="btn btn-info mb-2 btn-sm">filtrer</button>
                            </div>
                        </th>
                    </tr>
                    </form>
                </thead>
                <tbody>
                {% for client in pagination %}
                    <tr>
                        <td><a href="{{ path('client.showone', { 'id': client.id }) }}" class="link-white">{{ (client.dernierRdv == null ) ? 'Non renseigné ' : client.dernierRdv.dateControle|date('d/m/Y') }}</a></td>
                        <td><a href="{{ path('client.showone', { 'id': client.id }) }}" class="link-white">{{ client.nom ~ ' ' ~  client.prenom }}</a></td>
                        <td><a href=" {{ (client.dernierRdv == null ) ? '#'  :  path('adresse.showone', { 'id': client.dernierRdv.id }) }}" class="link-white">{{  (client.dernierRdv == null ) ? " " : client.dernierRdv.Adresse.adresseVisite }}</a></td>
                        <td><a href="{{ (client.dernierRdv == null ) ? '#'  : path('adresse.showone', { 'id': client.dernierRdv.id }) }}" class="link-white">{{ (client.dernierRdv == null ) ? " " : client.dernierRdv.Adresse.commune ~ ' ' ~  client.dernierRdv.Adresse.cp }}</a></td>
                        <td class="text-body">
                            <h5 class="text-center">
                                {{ client.RendezVous|length}} {{ (client.RendezVous|length) > 1 ? 'visites' : 'visite' }}
                            </h5>
                        </td>
                        <td></td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-body" colspan="12">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

            {# display navigation #}
            <div class="navigation d-flex justify-content-center mt-4">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
{% endblock %}
