{% extends 'base.html.twig' %}

{% block title %} {{client.nom ~ ' ' ~ client.prenom}} {% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success mt-4">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('alert') %}
        <div class="alert alert-warning mt-4">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container mt-4">
        <h1 class="mb-3 font-weight-normal text-primary">{{ client.nom ~ ' ' ~ client.prenom }} </h1>
        <hr class="my-4">
        <br/>
        <p ><strong>Information client :</strong></p>
        <div class="jumbotron">
             <table class="table">
                <tbody>
                    <tr>
                        <th class="text-body">Nom : </th>
                        <td class="text-body">{{ client.nom  }}</td>
                    </tr>
                    <tr>
                        <th class="text-body">Prénom :</th>
                        <td class="text-body">{{ client.prenom }}</td>
                    </tr>
                    <tr>
                        <th class="text-body">E-mail client :</th>
                        <td class="text-body">{{ client.mail }}</td>
                    </tr>
                    <tr>
                        <th class="text-body">Téléphone client :</th>
                        <td class="text-body">{{ client.tel }}</td>
                    </tr>
                    <tr>
                        <th class="text-body">Adresse client :</th>
                        <td class="text-body">{{ client.adresseClient }}</td>
                    </tr>
                    <tr>
                        <th class="text-body">Code postal client :</th>
                        <td class="text-body">{{ client.cpClient  }}</td>
                    </tr>
                    <tr>
                        <th class="text-body">Date du dernier rdv</th>
                        <td class="text-body">{{ (client.dernierRdv == null ) ? 'Non renseigné ' : client.dernierRdv.dateControle|date('d/m/y') }}</td>
                    </tr>
                </tbody>
            </table>
            <hr class="my-4">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="{{ path('client.edit', { 'id': client.id }) }}" class="btn btn-warning me-md-2">
                    Modifier
                </a>
                <a href="{{ path('client.suppr', { 'id': client.id }) }}" 
                    class="btn btn-danger" 
                    onclick="return confirm('Etes-vous sûr de vouloir supprimer le client : {{ client.nom ~ ' ' ~  client.prenom}} ?')">
                    Supprimer
                </a>
            </div>
            <br/>
            <hr class="my-4">
            <h2 class="mb-3 font-weight-normal text-primary">Rendez vous du client: </h3>
            <table style="width: 100;" class="table table-striped table-condensed">
                <thead>
                    <tr>
                        <th class="text-left align-top text-body" scope="col">Date de contrôle
                        </th>
                        <th class="text-left align-top text-body" scope="col">Type du contrôle
                        </th>
                        <th class="text-left align-top text-body" scope="col">N°Dossier
                        </th>
                        <th  class="text-left align-top text-body" scope="col">Client
                        </th>
                        <th  class="text-left align-top text-body" scope="col">Adresse
                        </th>
                        <th class="text-left align-top text-body" scope="col">Commune
                        </th>
                        <th class="text-left align-top text-body" scope="col">Cadastre
                        </th>
                        <th class="text-left align-top text-body" scope="col">Propriaitaire
                        </th>
                        <th class="text-left align-top text-body" scope="col">Adresse de facturation
                        </th>
                        <th class="text-left align-top text-body" scope="col">Prochaine visite</th>
                    </tr>
                </thead>
                <tbody>
                {% for rdv in client.rendezVous|sort((a, b) => b.dateControle <=> a.dateControle ) %}
                    <tr>
                        <td><a href="{{ path('rdv.showone', { 'id': rdv.id }) }}" class="link-white">{{ (rdv.dateControle == null ) ? '' : rdv.dateControle|date('d/m/Y') }}</a></td>
                        <td><a href="{{ path('rdv.showone', { 'id': rdv.id }) }}" class="link-white">{{ rdv.typeControle }}</a></td>
                        <td><a href="{{ path('rdv.showone', { 'id': rdv.id }) }}" class="link-white">{{ rdv.numDossier }}</a></td>
                        <td><a href="{{ (rdv.client == null ) ? '' : path('client.showone', { 'id': rdv.client.id }) }}" class="link-white">{{ (rdv.client == null ) ? " " : rdv.client.nom ~ ' ' ~ rdv.client.prenom }}</a></td>
                        <td><a href="{{ (rdv.adresse == null ) ? '' : path('adresse.showone', { 'id': rdv.adresse.id }) }}" class="link-white">{{ (rdv.adresse == null ) ? " " : rdv.Adresse.numero ~ ' ' ~rdv.Adresse.adresseVisite ~ ' ' ~ rdv.Adresse.cp}}</a></td>
                        <td class="text-body">{{ rdv.Adresse.commune }}</td>
                        <td class="text-body">{{ rdv.Adresse.sectionCadastrale }}</td>
                        <td class="text-body">{{ rdv.nomPropriaitaire ~ ' ' ~ rdv.prenomPropriaitaire}}</td>
                        <td class="text-body">{{ rdv.adresseFacturation ~ ' ' ~ rdv.communeFacturation }}</td>
                        <td class="text-body">{{ (rdv.Adresse.prochaineVisite == null ) ? 'Non renseigné ' :  rdv.Adresse.prochaineVisite|date('d/m/Y') }}</td>
                        <td></td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="12">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            <br/>
        
        </div>
    </div>
{% endblock %}